## String Based Assignment Problems

### 1. Write a program to reverse a string.

In [1]:
## Define a function that takes input as string

def reverse_str(string):
    
    reverse = ""
    
    for i in range(len(string),0,-1):
        reverse += string[i-1]
    
    return reverse

In [2]:
## Calling the function by giving the input
reverse_str("hello")

'olleh'

### 2. Check if a string is a palindrome.

In [3]:
# Define a function to check whether the string is palindrome
def palindrome_check(string):
    
    string = string.lower()
    reverse = string[::-1]
    
    if string == reverse :
        print(string, " is palindrome.")
    
    else:
        print(string, "is not palindrome.")

In [4]:
## Calling the function by giving the user input
palindrome_check("madam")

madam  is palindrome.

### 3. Convert a string to uppercase.

In [5]:
## Getting the user input
input_str = input("Enter the string:")

## Converting the input string to uppercase
final_str = input_str.upper()

## Printing the final string
print("The uppercase string is :",final_str)

Enter the string:data science
The uppercase string is : DATA SCIENCE

### 4. Convert a string to lowercase.

In [6]:
## Getting the user input
input_str = input("Enter the string:")

## Converting the input string to lowercase
final_str = input_str.lower()

## Printing the final string
print("The uppercase string is :",final_str)

Enter the string:DATA SCIENCE
The uppercase string is : data science

### 5. Count the number of vowels in a string.

In [7]:
## Define a function to get the vowels count in the string

def vowel_count(string):
    
    final_string = string.lower()
    count = 0
    
    for char in final_string:
        
        if char in ['a','e','i','o','u']:
                count +=1
    
    print("The number of vowels in ",string," is: ",count)

In [8]:
## Calling the function with the input
vowel_count("Ashutosh")

The number of vowels in  Ashutosh  is:  3

### 6. Count the number of consonants in a string.

In [9]:
## Define a function to get the consonants count in the string

def consonants_count(string):
    
    final_string = string.lower()
    count = 0
    
    for char in final_string:
        
        if char not in ['a','e','i','o','u']:
                count +=1
    
    print("The number of consonants in ",string," is: ",count)

In [10]:
consonants_count("Ashutosh")

The number of consonants in  Ashutosh  is:  5

### 7. Remove all whitespaces from a string.

In [11]:
## Getting the user input from the user
input_str = input("Enter the string :")

## Defining the function to remove the whitespaces
def whitespaces(input_str):
    
    final = ""
    for char in input_str:
        if char != " ":
            final+=char
    return (final)

# Calling the defined function with the user input
whitespaces(input_str)

Enter the string :data science

'datascience'

### 8. Find the length of a string without using the `len()` function.

In [12]:
## Getting the user input
input_str = input("Enter the string: ")

count = 0

for char in input_str:
        count +=1

print("The length of ",input_str, " is: ",count)

Enter the string: data science
The length of  data science  is:  12

### 9. Check if a string contains a specific word.

In [13]:
## Get the input string and word which we want to check and then check the word in string using if clause
input_str = input("Enter a string:")
word = input("Enter the specific word :")

if word in input_str:
    print("The string contains the mentioned word.")

else:
    print("The string doesn't contain the mentioned word.")

Enter a string:this is the random sample
Enter the specific word :random
The string contains the mentioned word.

### 10. Replace a word in a string with another word.

In [14]:
## Getting the user input for string, word to be replaced and the word to be replaced with
input_str = input("Enter the input string :")

word_to_be_replaced = input("Enter the word to be replaced :")
new_word = input("Enter the new word to be replaced with :")

## Replace the word
new_str = input_str.replace(word_to_be_replaced,new_word)

## Printing the modified string
print("The new string is :",new_str)

Enter the input string :this is the random sample
Enter the word to be replaced :sample
Enter the new word to be replaced with :test
The new string is : this is the random test

### 11. Count the occurrences of a word in a string.

In [15]:
## Getting the user input and word to be counted
input_str = input ("Enter the input string:")
word = input("Enter the word :")

input_str = input_str.split(" ")

count = 0 

## Counting the word by comparing
for words in input_str:
    if words == word:
        count +=1

print("The",word,"occurs",count," times.")

Enter the input string:hye data hye science hey ashutosh
Enter the word :hye
The hye occurs 2  times.

### 12. Find the first occurrence of a word in a string.

In [16]:
## Getting the input from the user
input_str = input("Enter the input string:")
word = input("Enter the word you want to search :")

## Call the find method of string to get the first occurrence
index = input_str.find(word)

if index ==-1:
    print("We didn't find the word in the string")

else:
    print("The first occurrence of word",word,"is :",index)

Enter the input string:hye data hey science
Enter the word you want to search :hye
The first occurrence of word hye is : 0

### 13. Find the last occurrence of a word in a string.

In [17]:
## Getting the input from the user
input_str = input("Enter the input string:")
word = input("Enter the word you want to search :")

## Call the rfind method of string to get the last occurrence
index = input_str.rfind(word)

if index ==-1:
    print("We didn't find the word in the string")

else:
    print("The first occurrence of word",word,"is :",index)

Enter the input string:hey data hey science
Enter the word you want to search :hey
The first occurrence of word hey is : 9

### 14. Split a string into a list of words.

In [18]:
## Getting the input from the user
input_str = input("Enter the input string:")

word_list = input_str.split(" ")

print("The list of words are :",word_list)

Enter the input string:this is the random test
The list of words are : ['this', 'is', 'the', 'random', 'test']

### 15. Join a list of words into a string.

In [19]:
## Assuming some input data
word_list = ['This','is','a','sample','test']

final = ""

# Concatenate the word list into final string
for word in word_list:
    final = final + word +" "
    
print(final)

This is a sample test

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [20]:
# Getting the user input
input_str = input("Enter the input string separated by space:")

# Splitting the string by space into word list
word_list = input_str.split(" ")

final = ""

# Concatenate the word list into final string separated by underscore
for word in word_list:
    final += word +"_"
    
print(final[:-1])

Enter the input string separated by space:data science
data_science

### 17. Check if a string starts with a specific word or phrase.

In [21]:
## Get the user input for string and word to be check
input_str = input("Enter the string :")
word = input("Enter the word to be check :")

# use the string startswith method to check the validity
if input_str.startswith(word):
    print("The",input_str,"start with prefix",word)

else:
    print("The",input_str,"does not start with prefix",word)

Enter the string :this is the random test
Enter the word to be check :this
The this is the random test start with prefix this

### 18. Check if a string ends with a specific word or phrase.

In [22]:
## Get the user input for string and word to be check
input_str = input("Enter the string :")
word = input("Enter the word to be check :")

# use the string endswith method to check the validity
if input_str.endswith(word):
    print("The",input_str,"ends with prefix",word)

else:
    print("The",input_str,"does not ends with prefix",word)

Enter the string :this is the random test
Enter the word to be check :test
The this is the random test ends with prefix test

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [23]:
# Get the user input
input_str = input("Enter the string: ")

# Use the title method of string to change the string
print("Converted text will be :",input_str.title())

Enter the string: hello world
Converted text will be : Hello World

### 20. Find the longest word in a string.

In [24]:
## Get the user input
input_str = input("Enter the input string:")

## Split the string into the word list
words = input_str.split(" ")

max_w = 0 
final = ""

# Check for the len of word with max_w and assign it to max_w if it is greater than max_w and the word value to final
for word in words:
    
    if len(word)>max_w :
        max_w = len(word)
        final = word

# Print the final result
print("Longest word is :",final)

Enter the input string:one two three four five
Longest word is : three

### 21. Find the shortest word in a string.

In [25]:
## Get the user input
input_str = input("Enter the input string:")

## Split the string into the word list
words = input_str.split(" ")

min_w = 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
final = ""

# Check for the len of word with min_w and assign it to min_w if it is lesser than min_w and the word value to final
for word in words:
    
    if len(word)< min_w:
        min_w = len(word)
        final = word

# Print the final result
print("Shortest word is :",final)

Enter the input string:orange apple mango pie
Shortest word is : pie

### 22. Reverse the order of words in a string

In [26]:
## Getting the user input
input_str = input("Enter the string:")

## Split the input string in word list and then reversing it later we will join it 
word_list = input_str.split(" ")[::-1]
final_word = ""

for word in word_list:
    final_word +=word+" "
    
## Printing the final result
print("The reverse sentence is :",final_word)

Enter the string:this is the random test
The reverse sentence is : test random the is this

### 23. Check if a string is alphanumeric.

In [27]:
## Getting the user input
input_str = input("Enter the string:")

## Use the isalnum method of string to check

if input_str.isalnum():
    print("The",input_str,"is alphanumeric.")

else:
    print("The",input_str,"is not a alphanumeric.")

Enter the string:ashutosh123
The ashutosh123 is alphanumeric.

### 24. Extract all digits from a string.

In [28]:
## Getting the user input:
input_str = input("Enter the string:")

digit = ""
## for loop to check for the digit condition
for char in input_str:
    if char in ['0','1','2','3','4','5','6','7','8','9']:
        digit +=char

print("The digits are :",digit)

Enter the string:ashutosh12345
The digits are : 12345

### 25. Extract all alphabets from a string.

In [29]:
## Getting the user input:
input_str = input("Enter the string:")

alphabet = ""
## for loop to check for the alphabet condition
for char in input_str:
    if char not in ['0','1','2','3','4','5','6','7','8','9']:
        alphabet +=char

print("The digits are :",alphabet)

Enter the string:ashutosh12345
The digits are : ashutosh

### 26. Count the number of uppercase letters in a string.

In [30]:
## Getting the user input
input_str = input("Enter the input string:")

count = 0 

# For loop to count the char when char.isupper is true
for char in input_str:
    if char.isupper():
        count +=1

print("The number of uppercase letters are :",count)

Enter the input string:Ashutosh Sahu
The number of uppercase letters are : 2

### 27. Count the number of lowercase letters in a string.

In [31]:
## Getting the user input
input_str = input("Enter the input string:")

count = 0 

# For loop to count the char when char.islower is true
for char in input_str:
    if char.islower():
        count +=1

print("The number of lowercase letters are :",count)

Enter the input string:Ashutosh Sahu
The number of lowercase letters are : 10

### 28. Swap the case of each character in a string.

In [32]:
## Getting the user input
input_str = input("Enter the input string:")

final =""

## for loop for every char in string and then method to change the char
for char in input_str:
    if char.isupper():
        final += char.lower()
    else:
        final += char.upper()
        
print("After swapping the case: ",final)

Enter the input string:Ashutosh Sahu
After swapping the case:  aSHUTOSH sAHU

### 29. Remove a specific word from a string.

In [33]:
## Getting the user input for the string and the word
input_str = input("Enter the input string :")
word = input("Enter the word to be removed :")

## Split the word into word list
word_list = input_str.split(" ")
final = ""

for w in word_list:
    if w !=word:
        final +=w+" "
print("Final String :",final)

Enter the input string :this is the random test
Enter the word to be removed :test
Final String : this is the random

### 30. Check if a string is a valid email address.

In [34]:
## Getting the input from the user
input_str = input("Enter the email address:")

## importing re as we are going to use regular expression
import re

pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

if re.match(pattern,input_str):
    print(input_str," is valid email address.")

else:
    print(input_str," is not a valid email address.")

Enter the email address:ashutosh@gmail.com
ashutosh@gmail.com  is valid email address.

### 31. Extract the username from an email address string.

In [35]:
## Getting the user input of email address
input_str = input("Enter the email address:")

# Split the email using @ and the first part will the username
email_list = input_str.split("@")

print("The username of email is :",email_list[0])

Enter the email address:ashutosh@gmail.com
The username of email is : ashutosh

### 32. Extract the domain name from an email address string.

In [36]:
## Getting the user input of email address
input_str = input("Enter the email address:")

# Split the email using @ and the second part will the username
email_list = input_str.split("@")

print("The domain of email is :",email_list[1])

Enter the email address:ashutosh@gmail.com
The domain of email is : gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [37]:
## Getting the user input
input_str = input("Enter the input string:")

## Split the string into word list
word_list = input_str.split()
final = ""

for word in word_list:
    final +=word + " "
    
print("Cleaned string is:",final)

Enter the input string:this  is   a  random
Cleaned string is: this is a random

### 34. Check if a string is a valid URL.

In [38]:
## Importing the validators library
!pip install validators
import validators

# Getting the user input
url = input("Enter the url :")
validation = validators.url(url)
if validation:
    print("URL is valid")
else:
    print("URL is invalid")

Requirement already satisfied: validators in c:\users\assahu\anaconda3\lib\site-packages (0.22.0)
Enter the url :https://google.com
URL is valid

### 35. Extract the protocol (http or https) from a URL string.

In [39]:
## Getting the input from the url
input_str = input("Enter the URL:")

## Split the url with : and the first part with be protocol
word_list = input_str.split(":")

print("The protocol is:",word_list[0])

Enter the URL:http://google.com
The protocol is: http

### 36. Find the frequency of each character in a string.

In [40]:
## Get the input string the user
input_str = input("Enter the input string:")

# Create a dictinary for storing the frequency of characters
count ={}

## check for every char in dictionary and if there add 1 to count or initialize the char with 1
for char in input_str:
    if char in count:
        count[char] +=1
    
    else:
        count[char] = 1

for char,freq in count.items():
    print("Character:",char,"having frequency : ",freq)

Enter the input string:this is the random test random this
Character: t having frequency :  5
Character: h having frequency :  3
Character: i having frequency :  3
Character: s having frequency :  4
Character:   having frequency :  6
Character: e having frequency :  2
Character: r having frequency :  2
Character: a having frequency :  2
Character: n having frequency :  2
Character: d having frequency :  2
Character: o having frequency :  2
Character: m having frequency :  2

### 37. Remove all punctuation from a string.

In [41]:
## Getting the user input
input_str = input("Enter the input string:")

final = ""

## check for all the punctuation available
for char in input_str:
    if char not in ['!','"','#','$','%','&',"'",'(',')','*','+','-','.','/',':',';','<','=','>','?','@','[',"]",'^',"_","`","{","|",'}','~',","]:
        final +=char

print(final)

Enter the input string:ashut'osh sa$hu% data&science
ashutosh sahu datascience

### 38. Check if a string contains only digits.

In [42]:
## Get the input string from the user
input_str = input("Enter the input string:")

## Check for digits using the isdigit method
if input_str.isdigit():
    print("String contains only digits.")

else:
    print("String doesn't contain only digits.")

Enter the input string:1234567
String contains only digits.

### 39. Check if a string contains only alphabets.

In [43]:
## Get the input string from the user
input_str = input("Enter the input string:")

## Check for alphabets using isalpha method
if input_str.isalpha():
    print("String contains only alphabets.")

else:
    print("String doesn't contain only alphabets.")

Enter the input string:ashutosh
String contains only alphabets.

### 40. Convert a string to a list of characters.

In [44]:
## Getting the input from the user
input_str = input("Enter the string")

## Break it into list
char_list = list(input_str)

print(char_list)

Enter the stringdata science
['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

### 41. Check if two strings are anagrams.

In [45]:
input_str = input("Enter the string:")
input_str1 = input("Enter the second string:")

## Replace the spaces and covert it into lowercase for consistency
input_str = input_str.replace(" ","").lower()
input_str1 = input_str1.replace(" ","").lower()

## Sorted the strings for the matching
if sorted(input_str) == sorted(input_str1):
    print("Both the strings are anagrams.")

else:
    print("Both the strings are not anagrams.")

Enter the string:cat
Enter the second string:act
Both the strings are anagrams.

### 42. Encode a string using a Caesar cipher.

In [46]:
def caesar_cipher_encode(text, shift):
    encoded_text = ""

    for char in text:
        if char.isalpha():
            # Determine if the character is uppercase or lowercase
            if char.isupper():
                offset = ord('A')
            else:
                offset = ord('a')
            
            # Apply the Caesar cipher shift
            shifted_char = chr(((ord(char) - offset + shift) % 26) + offset)
            encoded_text += shifted_char
        else:
            # If the character is not alphabetic, leave it unchanged
            encoded_text += char
    
    return encoded_text

# Input the text and shift value
text = input("Enter the text to encode: ")
shift = int(input("Enter the Caesar cipher shift value: "))

# Encode the text using the Caesar cipher
encoded_text = caesar_cipher_encode(text, shift)

print("Encoded text:", encoded_text)

Enter the text to encode: Data Science
Enter the Caesar cipher shift value: 4
Encoded text: Hexe Wgmirgi

### 43. Decode a Caesar cipher encoded string.

In [47]:
def caesar_cipher_decode(encoded_text, shift):
    decoded_text = ""

    for char in encoded_text:
        if char.isalpha():
            # Determine if the character is uppercase or lowercase
            if char.isupper():
                offset = ord('A')
            else:
                offset = ord('a')
            
            # Apply the Caesar cipher shift in reverse to decode
            shifted_char = chr(((ord(char) - offset - shift) % 26) + offset)
            decoded_text += shifted_char
        else:
            # If the character is not alphabetic, leave it unchanged
            decoded_text += char
    
    return decoded_text

# Input the encoded text and shift value
encoded_text = input("Enter the encoded text to decode: ")
shift = int(input("Enter the Caesar cipher shift value used for encoding: "))

# Decode the encoded text using the Caesar cipher
decoded_text = caesar_cipher_decode(encoded_text, shift)

print("Decoded text:", decoded_text)

Enter the encoded text to decode: Hexe Wgmirgi
Enter the Caesar cipher shift value used for encoding: 4
Decoded text: Data Science

### 44. Find the most frequent word in a string.

In [209]:
## Assumption is the lower and upper case is same like hello and Hello are same word with no punctuations

## Get the input from the user 
input_str = input("Enter the string:")

input_str = input_str.lower()


freq = {}

## Split the string into list of words
word_list = input_str.split(" ")

## Enter the word and there count into dictinary
for word in word_list:
    if word in freq:
        freq[word] +=1
    
    else:
        freq[word]=1

## Sort the dictionary and convert the resulted list into dictionary again
freq = dict(sorted(freq.items()))

## Get the first key from dictionary
print(list(freq.keys())[0])

Enter the string:hello world hello test
hello


### 45. Find all unique words in a string.

In [49]:
##Assumption is the lower and upper case is same like hello and Hello are same word with no punctuations

## Getting the string input from the user
input_str = input("Enter the string:")

input_str = input_str.lower()

word_list = input_str.split(" ")

## Converting into set to get the unique items
unique = set(word_list)

print("Unique words are:",unique)

Enter the string:hye world hye test
Unique words are: {'world', 'test', 'hye'}

### 46. Count the number of syllables in a string.

In [208]:
import re
## Getting the input from the user
input_str = input("Enter the string:")

input_str = input_str.lower()

## Pattern for vowels and finding it into string
pattern = re.compile(r'[aeiou]+')
count = pattern.findall(input_str)

print("The word",input_str,"has",len(count),"syllabels.")

Enter the string:hello
The word hello has 2 syllabels.

### 47. Check if a string contains any special characters.

In [51]:
## Getting the input from the user
input_str = input("Enter the string:")

## Pattern for special characters and finding it in string
pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

find = pattern.findall(input_str)

if len(find)>0:
    print("Input string has special characters.")
    
else:
    print("Input string doesn't have special characters.")

Enter the string:ashu@tosh
Input string has special characters.

### 48. Remove the nth word from a string.

In [52]:
## Get the user input
user_input = input("Enter the string:")
print("*"*30)
print("Note: please enter the nth value between 1 and ",len(user_input.split()))
print("*"*30)
n  = int(input("Enter the nth value :"))

## Splitting the string into list of words
words = user_input.split()

## Popping out the nth word
words.pop(n-1)

## Joining the remaining words
final = ""
for word in words:
    final +=word+" "

print(final)

Enter the string:this is the random test
******************************
Note: please enter the nth value between 1 and  5
******************************
Enter the nth value :3
this is random test

### 49. Insert a word at the nth position in a string.

In [53]:
## Get the user input
user_input = input("Enter the string:")
print("*"*30)
print("Note: please enter the nth value between 1 and ",len(user_input.split()))
print("*"*30)
n  = int(input("Enter the nth value :"))
new_word = input("Enter the word to be entered :")

## Splitting the string into list of words
words = user_input.split()

## Popping out the nth word
words.insert(n-1,new_word)

## Joining the remaining words
final = ""
for word in words:
    final +=word+" "

print(final)

Enter the string:this is random test
******************************
Note: please enter the nth value between 1 and  4
******************************
Enter the nth value :3
Enter the word to be entered :the
this is the random test

### 50. Convert a CSV string to a list of lists.

In [54]:
#Assuming the data for the CSV String
csv_data = "Employee Name, Age, Salary\nJohn,25,20000\nDev,27,40000"

## final list 
final = []

## fetching all the rows in the data
lines = csv_data.split("\n")

## for every row fetching the column data
for line in lines:
    word = line.split(",")
    final.append(word)

for row in final:
    print(row)

['Employee Name', ' Age', ' Salary']
['John', '25', '20000']
['Dev', '27', '40000']

## List Based Practice Problem

### 1. Create a list with integers from 1 to 10.

In [55]:
## List comphrension in range from 1 to 11.
number = [i for i in range(1,11)]

print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [56]:
## Assuming list input
lst = [1,2,3,4,5,6]

count =0

## Iterate through the list and count the items in list
for i in lst:
    count+=1
print(count)

6

### 3. Append an element to the end of a list.

In [57]:
## Assuming list input
my_lst = [1,2,3,4]

new_number = 5

## Using the append method
my_lst.append(new_number)

print(my_lst)

[1, 2, 3, 4, 5]

### 4. Insert an element at a specific index in a list.

In [58]:
## Assuming list input
my_lst = [2,3,4,7,13]

element = 20

index_to_be_inserted_at = 4

# Use the insert method by providing index and element value
my_lst.insert(index_to_be_inserted_at,element)

my_lst

[2, 3, 4, 7, 20, 13]

### 5. Remove an element from a list by its value.

In [59]:
## Assuming list input
my_lst = [2,3,4,7,13]

element_to_remove = 7

# Use list remove method and pass element has input
my_lst.remove(element_to_remove)

print(my_lst)

[2, 3, 4, 13]

### 6. Remove an element from a list by its index.

In [60]:
## Assuming list input
my_lst = [2,3,4,7,13]

index_to_be_removed=2

# Use list pop method and pass element has input
my_lst.pop(index_to_be_removed)

print(my_lst)

[2, 3, 7, 13]

### 7. Check if an element exists in a list.

In [61]:
## Assuming list input
my_lst = [2,3,4,7,13]

number_to_check = 7

if number_to_check in my_lst:
    print("Number exist in list.")

else:
    print("Number does not exist in list.")

Number exist in list.

### 8. Find the index of the first occurrence of an element in a list.

In [62]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

number_to_search = 8

## Use the index method of list to search for element
index_position = my_lst.index(number_to_search)

print("The index of first occurrence is :",index_position)

The index of first occurrence is : 2

### 9. Count the occurrences of an element in a list.

In [63]:
## Assuming list input
my_lst = [3,4,8,7,8,21,8]

number_to_search = 8

## Use the count method of list to count for element
count = my_lst.count(number_to_search)

print("The count is :",count)

The count is : 3

### 10. Reverse the order of elements in a list.

In [64]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Use the reverse method to reverse the list
my_lst.reverse()

print("Reverse list:",my_lst)

Reverse list: [21, 8, 7, 8, 4, 3]

### 11. Sort a list in ascending order.

In [65]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Use the sort method to sort the list
my_lst.sort()

print("Ascending order list:",my_lst)

Ascending order list: [3, 4, 7, 8, 8, 21]

### 12. Sort a list in descending order.

In [66]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Use the sort method to sort the list with reverse parameter
my_lst.sort(reverse=True)

print("Descending order list:",my_lst)

Descending order list: [21, 8, 8, 7, 4, 3]

### 13. Create a list of even numbers from 1 to 20.

In [67]:
## logic in list comprehension for even number
even = [i for i in range(2,21,2)]

# Printing the list
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [68]:
## logic in list comprehension for odd number
odd = [i for i in range(1,21,2)]

# Printing the list
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [69]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Use the sum method
total = sum(my_lst)

print("The sum is :",total)

The sum is : 51

### 16. Find the maximum value in a list.

In [70]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Use the max method
max_number = max(my_lst)

print("The maximum is :",max_number)

The maximum is : 21

### 17. Find the minimum value in a list.

In [71]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Use the max method
min_number = min(my_lst)

print("The minimum is :",min_number)

The minimum is : 3

### 18. Create a list of squares of numbers from 1 to 10.

In [72]:
## Logic in list comphrension for list of squares
squares = [i**2 for i in range(1,11)]

## printing the output
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [73]:
import random

## Logic for listing random number 
random = [random.randint(1,100) for i in range(20)]

## Print the output
print(random)

[29, 64, 21, 98, 73, 52, 68, 13, 91, 50, 70, 54, 52, 51, 83, 32, 64, 49, 31, 4]

### 20. Remove duplicates from a list.

In [74]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## convert list into set and again back to list
modified_list = list(set(my_lst))

print("The modified is :",modified_list)

The modified is : [3, 4, 7, 8, 21]

### 21. Find the common elements between two lists.

In [75]:
## Assuming list input 
list1 = [3,4,5,6,7,11,15]
list2 = [2,5,7,8,11,12]

# list for storing the common elements
common_list = []

## In for loop iterate every element from list1 and then check if it exists in list2
for element in list1:
    if element in list2:
            common_list.append(element)

##Print the common list
print(common_list)

[5, 7, 11]

### 22. Find the difference between two lists.

In [76]:
## Assuming list input 
list1 = [3,4,5,6,7,11,15]
list2 = [2,5,7,8,11,12]

## Use the set difference method
difference = list(set(list1).difference(list2))

#Print the final output
print(difference)

[3, 4, 6, 15]

### 23. Merge two lists.

In [77]:
## Assuming list input 
list1 = [3,4,5,6,7,11,15]
list2 = [2,5,7,8,11,12]

## use the + operator for merging
merge = list1 + list2

#Print the final output
print(merge)

[3, 4, 5, 6, 7, 11, 15, 2, 5, 7, 8, 11, 12]

### 24. Multiply all elements in a list by 2.

In [78]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## multiply by 2
multiplied = [i*2 for i in my_lst]

print(multiplied)

[6, 8, 16, 14, 16, 42]

### 25. Filter out all even numbers from a list.

In [79]:
# Assuming list input
my_lst = [3,4,8,7,8,21]

## List for storing the filter list
filter_list = []

## filter condifition for the even
for element in my_lst:
    if element%2 ==0:
        filter_list.append(element)
        
## Print the final output
print(filter_list)

[4, 8, 8]

### 26. Convert a list of strings to a list of integers.

In [80]:
# Assuming list input
my_lst = ['3','4','8','7','8','21']

#list for storing integer
modified_list = []

for element in my_lst:
    modified_list.append(int(element))
    
#Print the final output
print(modified_list)

[3, 4, 8, 7, 8, 21]

### 27. Convert a list of integers to a list of strings.

In [81]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

#list for storing integer
modified_list = []

for element in my_lst:
    modified_list.append(str(element))
    
#Print the final output
print(modified_list)

['3', '4', '8', '7', '8', '21']

### 28. Flatten a nested list.

In [82]:
## Assuming the list input
nested_list = [[2,3,5,7],5,8,9,[11,13,4,12]]

## checking whether the element is list and then extending the list for flattening and if normal element exist then add it to resulted list
def flatten_list(nested_list):
    flattened_list = []
    for element in nested_list:
        if isinstance(element, list):
            flattened_list.extend(flatten_list(element))
        else:
            flattened_list.append(element)
    return flattened_list
flatten_list(nested_list)

[2, 3, 5, 7, 5, 8, 9, 11, 13, 4, 12]

### 29. Create a list of the first 10 Fibonacci numbers.

In [83]:
def generate_fibonacci(n):
    # Initialize the list with the first two Fibonacci numbers
    fibonacci_list = [0, 1]  

    # Logic for generating fibonacci number
    while len(fibonacci_list) < n:
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list[:n]

# Generate the first 10 Fibonacci numbers
fibonacci_sequence = generate_fibonacci(10)
print(fibonacci_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [84]:
## Assumption = Check is for ascending sort 

## Assumping Example list 
my_lst = [3,4,9,7,8,21]

check = True

for index in range(1,len(my_lst)):
    if my_lst[index-1]< my_lst[index]:
        pass
    else:
        check = False
if check == True:
    print("List is sorted.")
else:
    print("List is not sorted.")

List is not sorted.

### 31. Rotate a list to the left by `n` positions.

In [85]:
def rotate_left(lst, n):
    if len(lst) == 0:
        return lst

    # Ensure n is within the length of the list
    n = n % len(lst)
    return lst[n:] + lst[:n]

# Example
original_list = [1, 2, 3, 4, 5]
n_positions = 2
rotated_list = rotate_left(original_list, n_positions)
print(rotated_list)

[3, 4, 5, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [86]:
def rotate_left(lst, n):
    if len(lst) == 0:
        return lst

    # Ensure n is within the length of the list
    n = n % len(lst)
    return lst[-n:] + lst[:-n]

# Example
original_list = [1, 2, 3, 4, 5]
n_positions = 2
rotated_list = rotate_left(original_list, n_positions)
print(rotated_list)

[4, 5, 1, 2, 3]

### 33. Create a list of prime numbers up to 50.

In [87]:
## function to check for prime number 
def is_prime(number):
    if number <= 1:
        return False
    elif number <= 3:
        return True
    elif number % 2 == 0 or number % 3 == 0:
        return False

    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6

    return True

## list of prime numbers up to 50
prime = [number for number in range(0,50) if is_prime(number)]

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [88]:
## Function to get chunk list where we iterate a list and then using index get the list of chunked size
def chunk_list(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
chunks = chunk_list(original_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [89]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Login for sorting
modified = sorted(set(my_lst))

print(modified[-2])

8

### 36. Replace every element in a list with its square.

In [90]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

## logic for getting square
square = [i**2 for i in my_lst]

print(square)

[9, 16, 64, 49, 64, 441]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [91]:
## Assuming list input
my_lst = ["one","two","three",'four','five']

## Converting a list into dictionary
list_dict = {element:index for index,element in enumerate(my_lst)}

print(list_dict)

{'one': 0, 'two': 1, 'three': 2, 'four': 3, 'five': 4}


### 38. Shuffle the elements of a list randomly.

In [92]:
import random
## Assuming list input
my_lst = [3,4,8,7,8,21]

## Shuffle the list randomly
random.shuffle(my_lst)

print(my_lst)

[21, 8, 8, 3, 4, 7]

### 39. Create a list of the first 10 factorial numbers.

In [93]:
import math

factorial_list = [math.factorial(n) for n in range(10)]

# Print the list of factorial numbers
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [94]:
## Assuming list input 
list1 = [3,4,5,6,7,11,15]
list2 = [2,5,7,8,11,12]

check = False
for element in list1:
    if element in list2:
        check =True
        
if check == True:
    print("Given list has atleast one element in common.")

else:
    print("Given list has no element in common.")

Given list has atleast one element in common.

### 41. Remove all elements from a list.

In [95]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

# Use the clear method
my_lst.clear()

print(my_lst)

[]

### 42. Replace negative numbers in a list with 0.

In [96]:
## Assuming list input
my_lst = [3,4,8,-7,8,-21]

for i in range(len(my_lst)):
    if my_lst[i]<0:
        my_lst[i] =0

print(my_lst)

[3, 4, 8, 0, 8, 0]

### 43. Convert a string into a list of words.

In [97]:
## Assuming string input
input_string = "This ithe example of converting a string into list of words."

# Use the string split method to break the string into words
word_list = input_string.split()

print(word_list)

['This', 'ithe', 'example', 'of', 'converting', 'a', 'string', 'into', 'list', 'of', 'words.']

### 44. Convert a list of words into a string.

In [98]:
## Assuming list input
word_list = ['This', 'ithe', 'example', 'of', 'converting', 'a', 'string', 'into', 'list', 'of', 'words.']

final = ""

# Iterate through every word and concatenate into final string
for word in word_list:
    final +=word+" "

print(final)

This ithe example of converting a string into list of words.

### 45. Create a list of the first `n` powers of 2.

In [99]:
## Assuming the value of n 
n =6

## logic for power list
power_list = [2 ** i for i in range(n)]

#print the final output
print(power_list)

[1, 2, 4, 8, 16, 32]

### 46. Find the longest string in a list of strings.

In [100]:
## Assuming string output
input_string = ['one','two','three','four','five','six']

# Assigning initial value to longest string
longest = input_string[0]

for word in input_string:
    if len(word) > len(longest):
        longest = word
        
print(longest)

three

### 47. Find the shortest string in a list of strings.

In [101]:
## Assuming string output
input_string = ['one','two','three','four','five']

# Assigning initial value to shortest string
shortest = input_string[0]

for word in input_string:
    if len(word) < len(shortest):
        shortest = word
        
print(shortest)

one

### 48. Create a list of the first `n` triangular numbers.

In [102]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

## Calling the function with n value
print(triangular_numbers(7))

[1, 3, 6, 10, 15, 21, 28]

### 49. Check if a list contains another list as a subsequence.

In [103]:
## Assuming user input
my_lst = [3,4,8,7,11,5,16,21]
subseq = [8,7,5]

sub_index = 0
check = False
for element in my_lst:
    if element in subseq:
        sub_index +=1
    if sub_index == len(subseq):
        check = True

if check:
    print("List contains the subsequence.")

else:
    print("List doesn't contain the subsequence.")

List contains the subsequence.

### 50. Swap two elements in a list by their indices

In [104]:
## Assuming list input
my_lst = [3,4,8,7,8,21]

indices1 = 1
indices2 = 5

# Code to swap the list values
temp = my_lst[indices1]
my_lst[indices1] = my_lst[indices2]
my_lst[indices2] = temp

## Print the final list
print(my_lst)

[3, 21, 8, 7, 8, 4]

## Tuple Based Pratice Problem

### 1. Create a tuple with integers from 1 to 5.

In [105]:
#Defining the tuple
tup = (1,2,3,4,5)

print(tup)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [106]:
## Using the above tuple we will access third element i.e. 2nd index
tup[2]

3

### 3. Find the length of a tuple without using the `len()` function.

In [107]:
#Defining the tuple
tup = (1,2,3,4,5)

#define the count variable for counting
count = 0 

# logic to count the element
for element in tup:
    count +=1

print("The length of tuple is : ",count)

The length of tuple is :  5

### 4. Count the occurrences of an element in a tuple.

In [108]:
#Defining the tuple
tup = (1,2,3,4,3)

#element to count
element = 3

# variable to store the count
count = 0

for word in tup:
    if element == word:
        count+=1

print("The occurrence of an element is :",count)

The occurrence of an element is : 2

### 5. Find the index of the first occurrence of an element in a tuple.

In [109]:
#Defining the tuple
tup = (1,2,3,4,3)

# Element to search in tuple
element = 3 

## use the index method of tuple to find the first occurrence
print(tup.index(element))

2

### 6. Check if an element exists in a tuple.

In [110]:
#Defining the tuple
tup = (1,2,3,4,3)

# Element to check
element = 2

if element in tup:
    print("Element exists in tuple.")

else:
    print("Element doesn't exists in tuple.")

Element exists in tuple.


### 7. Convert a tuple to a list.

In [111]:
#Defining the tuple
tup = (1,2,3,4,3)

## Use the list to convert the tuple
my_list = list(tup)

print(my_list)

[1, 2, 3, 4, 3]

### 8. Convert a list to a tuple.

In [112]:
## Assuming the list input 
my_list = [1, 2, 3, 4, 3]

## Use the tuple to convert the tuple
tup = tuple(my_list)

print(tup)

(1, 2, 3, 4, 3)

### 9. Unpack the elements of a tuple into variables.

In [113]:
#Defining the tuple
tup = (1,2,3,4,3)

tup1,tup2,tup3,tup4,tup5 = tup

print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

1
2
3
4
3

### 10. Create a tuple of even numbers from 1 to 10.

In [114]:
#Creating a even 
even_list = [i for i in range(2,11,2)]

## Create the tuple of even list
even_tup = tuple(even_list)

print(even_tup)

(2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [115]:
#Creating a even 
odd_list = [i for i in range(1,10,2)]

# Create a tuple of odd list
odd_tup = tuple(odd_list)

print(odd_tup)

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [116]:
#Defining the tuple
tup1 = (1,2,3,4,3)
tup2 = (4,3,2,1,6)

## concatenate the tuple
final_tup = tup1 + tup2

print(final_tup)

(1, 2, 3, 4, 3, 4, 3, 2, 1, 6)

### 13. Repeat a tuple three times.

In [117]:
#Defining the tuple
tup = (1,2,3,4,3)

## Repeat the tuple 3 times means multiply the tuple by 3
print(tup*3)

(1, 2, 3, 4, 3, 1, 2, 3, 4, 3, 1, 2, 3, 4, 3)

### 14. Check if a tuple is empty.

In [118]:
tup = ()

if not tup:
    print("Tuple is Empty.")
else:
    print("Tuple is not empty.")

Tuple is Empty.

### 15. Create a nested tuple.

In [119]:
nested = ((1,2,3),('a','b','c'),(True,False))

print(nested)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

### 16. Access the first element of a nested tuple.

In [120]:
## Using the above nested tuple

print(nested[0])

(1, 2, 3)

### 17. Create a tuple with a single element.

In [121]:
tup = (1,)

print(tup)

(1,)

### 18. Compare two tuples.

In [122]:
# declare two tuples

tup1 = (1,2,3)
tup2 = (1,4,6)

## check for all the comparison operator
print("tup1 == tup2 : ",tup1 == tup2)
print("tup1 != tup2 : ",tup1 != tup2)
print("tup1 <= tup2 : ",tup1 <= tup2)
print("tup1 < tup2 : ",tup1 <= tup2)
print("tup1 >= tup2 : ",tup1 >= tup2)
print("tup1 > tup2 : ",tup1 > tup2)

tup1 == tup2 :  False
tup1 != tup2 :  True
tup1 <= tup2 :  True
tup1 < tup2 :  True
tup1 >= tup2 :  False
tup1 > tup2 :  False

### 19. Delete a tuple.

In [123]:
# Declare the tuple
tup = (1,2,3)

del tup

### 20. Slice a tuple.

In [124]:
#Defining the tuple
tup = (1,2,3,4,3)

print(tup[2:4])

(3, 4)

### 21. Find the maximum value in a tuple.

In [125]:
#Defining the tuple
tup = (1,2,3,4,3)

print("Maximum value in the tuple :",max(tup))

Maximum value in the tuple : 4

### 22. Find the minimum value in a tuple.

In [126]:
#Defining the tuple
tup = (1,2,3,4,3)

print("Minimum value in the tuple :",min(tup))

Minimum value in the tuple : 1

### 23. Convert a string to a tuple of characters.

In [127]:
# declare a sting 
string = 'Data Science'

print(tuple(string))

('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

### 24. Convert a tuple of characters to a string.

In [128]:
# Define a tuple
tup = ('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')

final = ""

# logic to join the tuple 
for char in tup:
    final +=char
    
print(final)

Data Science

### 25. Create a tuple from multiple data types.

In [129]:
tup = ('a',1,True,3.87)

print(tup)

('a', 1, True, 3.87)

### 26. Check if two tuples are identical.

In [130]:
## Declare the tuple
tup1 = (1,2,3)
tup2 = (1,2,3)

print("The two tuples are identical :",tup1==tup2)

The two tuples are identical : True

### 27. Sort the elements of a tuple.

In [131]:
## Declare the tuple
tup = (45,23,2,14,5,67,19)

# Sort the tuple using sorted and convert the resulted list again into tuple
print(tuple(sorted(tup)))

(2, 5, 14, 19, 23, 45, 67)

### 28. Convert a tuple of integers to a tuple of strings.

In [132]:
## Declare the tuple
tup = (1,2,3)

# loop over tuple element and covert it into string. Finally convert the result again into tuple.
string = tuple(str(item) for item in tup)

print(string)

('1', '2', '3')

### 29. Convert a tuple of strings to a tuple of integers.

In [133]:
## Declare the tuple
tup = ('1', '2', '3')

# loop over tuple element and covert it into integer. Finally convert the result again into tuple.
integer = tuple(int(item) for item in tup)

print(integer)

(1, 2, 3)

### 30. Merge two tuples.

In [134]:
## declare the tuple
tup1 = (3,4,5)
tup2 = (6,7,8)

## Merge the tuple using the + operator
final = tup1 + tup2

print(final)

(3, 4, 5, 6, 7, 8)

### 31. Flatten a nested tuple.

In [135]:
## Assuming the nested tuple
nested_tup = ((2,3,5,7),5,8,9,(11,13,4,12))

## checking whether the element is list and then extending the list for flattening and if normal element exist then add it to resulted list
def flatten_tup(nested_tup):
    flattened_tup = []
    for element in nested_tup:
        if isinstance(element, tuple):
            flattened_tup.extend(flatten_tup(element))
        else:
            flattened_tup.append(element)
    return flattened_tup
flatten_tup(nested_tup)

[2, 3, 5, 7, 5, 8, 9, 11, 13, 4, 12]

### 32. Create a tuple of the first 5 prime numbers.

In [136]:
## Function to check for prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

## Create tuple by looping on numbers and check if number is prime
tup = tuple(i for i in range(1,20) if is_prime(i))

print(tup[:5])

(2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [137]:
## Declare the tuple
tup1 = (1,2,3,4)
tup2 = (4,3,2,1)

result = tup2[::-1]

print("Tuple is palindrome : ",tup1 == result)

Tuple is palindrome :  True

### 34. Create a tuple of squares of numbers from 1 to 5.

In [138]:
## Declare the tuple 
tup = (1,2,3,4,5)

# logic to calculate the square tuple
square = tuple(i**2 for i in tup)

print(square)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [139]:
## Declare the tuple 
tup = (1,2,3,4,5)

## Logic to filter the tuple
filter = tuple( i for i in tup if i%2==0)

print(filter)

(2, 4)

### 36. Multiply all elements in a tuple by 2.

In [140]:
## Declare the tuple 
tup = (1,2,3,4,5)

## logic to multiply by 2
multiply = tuple(i*2 for i in tup)

print(multiply)

(2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [141]:
import random 

# Create a random tuple
tup = tuple(random.randint(1,100) for i in range(10))

print(tup)

(5, 99, 51, 20, 15, 78, 35, 1, 4, 2)

### 38. Check if a tuple is sorted.

In [142]:
## Assumption we are checking for ascending order

## Declare the tuple
tup = (95, 75, 49, 38, 66, 5, 46, 70, 40, 28)

check = True
for i in range(1, len(tup)):
    if tup[i-1] > tup[i]:
        check = False

if check:
    print("Sorted.")
    
else:
    print("Not Sorted")

Not Sorted

### 39. Rotate a tuple to the left by `n` positions.

In [143]:
def rotate_left(tup, n):
    if len(tup) == 0:
        return tup

    # Ensure n is within the length of the list
    n = n % len(tup)
    return tup[n:] + tup[:n]

# Example
original_tup = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tup = rotate_left(original_tup, n_positions)
print(rotated_tup)

(3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [144]:
def rotate_left(tup, n):
    if len(tup) == 0:
        return tup

    # Ensure n is within the length of the list
    n = n % len(tup)
    return tup[-n:] + tup[:-n]

# Example
original_tup = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tup = rotate_left(original_tup, n_positions)
print(rotated_tup)

(4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [145]:
def generate_fibonacci(n):
    # Initialize the list with the first two Fibonacci numbers
    fibonacci_list = [0, 1]  

    # Logic for generating fibonacci number
    while len(fibonacci_list) < n:
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)

    return tuple(fibonacci_list[:n])

# Generate the first 10 Fibonacci numbers
fibonacci_sequence = generate_fibonacci(5)
print(fibonacci_sequence)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [146]:
## Getting the user input
input_string = input("Enter the values for tuple seperated by comma.")

## Convert the input string into list
input_list = input_string.split(",")

## Get the final tuple
print(tuple(input_list))

Enter the values for tuple seperated by comma.1,2,3,4,5
('1', '2', '3', '4', '5')

### 43. Swap two elements in a tuple.

In [147]:
## Declare the tuple
tup = (1,4,6,7,2,8)

index1 = 2
index2 = 5

swapped_list = []

for i in range(len(tup)):
    if i == index2:
        swapped_list.append(tup[index1])
    elif i==index1:
        swapped_list.append(tup[index2])
    else:
        swapped_list.append(tup[i])
    
print(tuple(swapped_list))

(1, 4, 8, 7, 2, 6)

### 44. Reverse the elements of a tuple.

In [148]:
## Declare the tuple
tup = (1,4,6,7,2,8)

reverse_tup = tup[::-1]

print(reverse_tup)

(8, 2, 7, 6, 4, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [149]:
## Assuming the value of n 
n =6

## logic for power tuple
power_tup = tuple(2 ** i for i in range(n))

#print the final output
print(power_tup)

(1, 2, 4, 8, 16, 32)

### 46. Find the longest string in a tuple of strings.

In [150]:
## Assuming the input string 

input_tup = ('one','two','three','four','five')

# Logic for getting the longest string
longest = max(input_tup,key = len)

print(longest)

three

### 47. Find the shortest string in a tuple of strings.

In [151]:
## Assuming the input string 

input_tup = ('one','three','four','five')

# Logic for getting the shortest string
shortest = min(input_tup,key = len)

print(shortest)

one

### 48. Create a tuple of the first `n` triangular numbers.

In [152]:
# Define the value of n
n = 5

# Create a tuple using list comphrension
triangular_numbers= tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print(triangular_numbers)

(1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [153]:
## Assuming user input
my_tup = (3,4,8,7,11,5,16,21)
subseq = (8,7,5)

sub_index = 0
check = False
for element in my_tup:
    if element in subseq:
        sub_index +=1
    if sub_index == len(subseq):
        check = True

if check:
    print("Tuples contains the subsequence.")

else:
    print("Tuple doesn't contain the subsequence.")

Tuples contains the subsequence.

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [154]:
## Assuming the value of n 
n = 5

## Logic for creating the tuple
alternate_tuple = tuple(i%2 for i in range(n))

print(alternate_tuple)

(0, 1, 0, 1, 0)

## Set Based Practice Problem

### 1. Create a set with integers from 1 to 5.

In [155]:
## Initialize the empty set
my_set = set()

## Adding the integer from 1 to 5
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [156]:
# Initial set
my_set = {1,2,3,4}

## Adding an element to set
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

### 3. Remove an element from a set.

In [157]:
# Initial set
my_set = {1,2,3,4}

## Remove an element 
my_set.remove(2)

print(my_set)

{1, 3, 4}

### 4. Check if an element exists in a set.

In [158]:
# Initial set
my_set = {1,2,3,4}

element = 3

## Logic for element exists
if element in my_set:
    print("Element exist in the set")

else:
    print("Element doesn't exist in the set.")

Element exist in the set

### 5. Find the length of a set without using the `len()` function.

In [159]:
# Initial set
my_set = {1,2,3,4}

## initialize the count variable
count = 0

## Logic to count the element
for element in my_set:
    count +=1
    
print(count)

4

### 6. Clear all elements from a set.

In [160]:
# Initial set
my_set = {1,2,3,4}

## Use the clear method
my_set.clear()

my_set

set()

### 7. Create a set of even numbers from 1 to 10.

In [161]:
## Logic to create a set of even number
my_set = set(i for i in range(0,10,2))

    
print(my_set)

{0, 2, 4, 6, 8}

### 8. Create a set of odd numbers from 1 to 10.

In [162]:
## Logic to create a set of odd number
my_set = set(i for i in range(1,10,2))

    
print(my_set)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [163]:
## defining a initial sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}

## use the union method of set
union = set1.union(set2)

print(union)

{1, 2, 3, 4, 5, 6}

### 10. Find the intersection of two sets.

In [164]:
## defining a initial sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}

## use the intersection method of set
intersection = set1.intersection(set2)

print(intersection)

{3, 4}

### 11. Find the difference between two sets.

In [165]:
## defining a initial sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}

## use the difference method of set
difference = set1.difference(set2)

print(difference)

{1, 2}

### 12. Check if a set is a subset of another set.

In [166]:
## defining a initial sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}

## use the issubset method of set
subset = set1.issubset(set2)

if subset :
    print("Set 1 is subset of Set 2.")

else:
     print("Set 1 is not a subset of Set 2.")

Set 1 is not a subset of Set 2.

### 13. Check if a set is a superset of another set.

In [167]:
## defining a initial sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}

## use the issuperset method of set
superset = set1.issuperset(set2)

if superset:
     print("Set 1 is superset of Set 2.")
        
else :
    print("Set 1 is not a superset of Set 2.")

Set 1 is not a superset of Set 2.

### 14. Create a set from a list.

In [168]:
my_list = [1,2,3,4]

# Use the set method
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4}

### 15. Convert a set to a list.

In [169]:
my_set = {1, 2, 3, 4}

# Use the list method

print(list(my_set))

[1, 2, 3, 4]

### 16. Remove a random element from a set.

In [170]:
import random 

# Define the initial set
my_set = {1,2,3,4,5,6,7,8,9}

#selecting the random number
random_number = random.choice(list(my_set))

# Remove the random number
my_set.remove(random_number)

print(my_set)

{1, 2, 4, 5, 6, 7, 8, 9}

### 17. Pop an element from a set.

In [171]:
# Define the initial set
my_set = {1,2,3,4,5,6,7,8,9}

# Pop the element
element = my_set.pop()

print("The pop element is:",element)

The pop element is: 1

### 18. Check if two sets have no elements in common.

In [172]:
## declare the sets
my_set1 = {1,2,3,4}
my_set2 = {5,6,7,8}

## To find common element we will find the intersection of two sets
intersection = my_set1.intersection(my_set2)

# check the lenght of result
if len(intersection)==0:
    print("Two sets have no element in common.")

else:
    print("Two sets have some element in common.")

Two sets have no element in common.

### 19. Find the symmetric difference between two sets.

In [173]:
## declare the sets
my_set1 = {1,2,3,4}
my_set2 = {4,6,7,8}

symmetric = my_set1 ^ my_set2

print("Symmetric Difference :",symmetric)

Symmetric Difference : {1, 2, 3, 6, 7, 8}

### 20. Update a set with elements from another set.

In [174]:
## declare the two sets

my_set1 = {1,2,3,4}
my_set2 = {4,5,6,7}

## Update the set1 with elements of set2 using the update method
my_set1.update(my_set2)
print(my_set1)

{1, 2, 3, 4, 5, 6, 7}

### 21. Create a set of the first 5 prime numbers.

In [175]:
def is_prime(number):
    if number <= 1:
        return False
    elif number <= 3:
        return True
    elif number % 2 == 0 or number % 3 == 0:
        return False

    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6

    return True

prime_set = set()
number = 2  # Start checking from the first prime number

while len(prime_set) < 5:
    if is_prime(number):
        prime_set.add(number)
    number += 1

print(prime_set)

{2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [176]:
## declare the sets
my_set1 = {1,2,3,5}
my_set2 = {3,4,5,6}

## set identical check
if my_set1 == my_set2:
    print("Sets are identical.")

else:
    print("Sets are not identical.")

Sets are not identical.

### 23. Create a frozen set.

In [177]:
## define a list
elements =[1,3,4,6]

## creating a frozen set
my_frozen_set = frozenset(elements)

print(my_frozen_set)

frozenset({1, 3, 4, 6})

### 24. Check if a set is disjoint with another set.

In [178]:
## declare the sets
my_set1 = {1,2,3,5}
my_set2 = {3,4,5,6}

## check for disjoint
disjoint = my_set1.isdisjoint(my_set2)

if disjoint:
    print("Sets are disjoint.")

else:
    print("Sets are not disjoint.")

Sets are not disjoint.

### 25. Create a set of squares of numbers from 1 to 5.

In [179]:
## Square set 
square = set(i**2 for i in range(1,6))

print(square)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [180]:
## Declare the set
my_set = {1,2,3,4,5,6}

## Even set 
even = set(i for i in my_set if i%2==0)

print(even)

{2, 4, 6}

### 27. Multiply all elements in a set by 2.

In [181]:
## Declare the set
my_set = {1,2,3,4,5,6}

# mutplied set 
multiplied = set(i*2 for i in my_set)

print(multiplied)

{2, 4, 6, 8, 10, 12}

### 28. Create a set of random numbers.

In [182]:
import random 

## Assuming n 
n = 5

# Generating the random set
random_set = set(random.randint(1,100) for i in range(5))

print(random_set)

{64, 2, 11, 23, 89}

### 29. Check if a set is empty.

In [183]:
# Declare the set
my_set = set()

if len(my_set)==0:
    print("Set is Empty.")

else:
    print("Set is not empty.")

Set is Empty.

### 30. Create a nested set (hint: use frozenset).

In [184]:
## Declare the set 

set1 = {1,2,3,4}
set2 = {5,6,7,8}

## Get frozen set
frozen1 = frozenset(set1)
frozen2 = frozenset(set2)

## add the frozenset into new set
nested = {frozen1,frozen2}

print(nested)

{frozenset({1, 2, 3, 4}), frozenset({8, 5, 6, 7})}

### 31. Remove an element from a set using the discard method.

In [185]:
## Declare the set 
my_set = {1,2,3,4,5,6,7,8}

## Element to remove
element = 7

## Remove the element using the discard method
my_set.discard(element)

print(my_set)

{1, 2, 3, 4, 5, 6, 8}

### 32. Compare two sets.

In [186]:
## Declare the set 

set1 = {1,2,3,4}
set2 = {5,6,7,8}

## Use all the operation to compare the sets
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)

## find intersection, union and difference
union = set1.union(set2)
intersection = set1.intersection(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

## Final Results
print("Is set1 is subset of set2 ?",is_subset)
print("Is set1 is superset of set2?",is_superset)
print("Intersection :",intersection)
print("union:",union)
print(" Set1 - Set2 :",difference1)
print("Set2 - Set1 :",difference2)

Is set1 is subset of set2 ? False
Is set1 is superset of set2? False
Intersection : set()
union: {1, 2, 3, 4, 5, 6, 7, 8}
 Set1 - Set2 : {1, 2, 3, 4}
Set2 - Set1 : {8, 5, 6, 7}

### 33. Create a set from a string.

In [187]:
## Input String
input_string = "Hello"

myset = set(input_string)

print(myset)

{'o', 'l', 'H', 'e'}

### 34. Convert a set of strings to a set of integers.

In [188]:
## Input String
my_set = {'1','2','3','4','5'}

# Integer set
int_set = set(int(i) for i in my_set)

print(int_set)

{1, 2, 3, 4, 5}

### 35. Convert a set of integers to a set of strings.

In [189]:
## Integer set 
int_set = {1, 2, 3, 4, 5}

# String set
str_set = set(str(i) for i in int_set)

print(str_set)

{'4', '3', '5', '2', '1'}

### 36. Create a set from a tuple.

In [190]:
## Input Tuple
input_tup = (1,2,3,4,5,6,7)

## Set 
myset = set(input_tup)

print(myset)

{1, 2, 3, 4, 5, 6, 7}

### 37. Convert a set to a tuple.

In [191]:
## Input set 
myset = {1, 2, 3, 4, 5, 6, 7}

# tuple
mytup = tuple(myset)

print(mytup)

(1, 2, 3, 4, 5, 6, 7)

### 38. Find the maximum value in a set.

In [192]:
## Input set 
myset = {1, 2, 3, 4, 5, 6, 7}

## Print max
print(max(myset))

7

### 39. Find the minimum value in a set.

In [193]:
## Input set 
myset = {1, 2, 3, 4, 5, 6, 7}

## Print min
print(min(myset))

1

### 40. Create a set from user input.

In [194]:
## Get user input
user_input = input("Enter the set values seperated by commas.")

## split the input string into list
lst = user_input.split(",")

# Convert the list into set
myset = set(lst)

print(myset)

Enter the set values seperated by commas.1,2,3,4,5
{'4', '3', '5', '2', '1'}

### 41. Check if the intersection of two sets is empty.

In [195]:
## declare the sets
my_set1 = {1,2,3,4}
my_set2 = {5,6,7,8}

## intersection check
intersection = my_set1.intersection(my_set2)

# check the lenght of result
if len(intersection)==0:
    print("Intersection is empty.")

else:
    print("Intersection is not empty.")

Intersection is empty.

### 42. Create a set of the first 5 Fibonacci numbers.

In [196]:
## Create a set for  fibonacci
fib_set = set()


a, b = 0, 1

# Loop to generate the Fibonacci series:
for _ in range(6):
    fib_set.add(a)
    a, b = b, a + b

print(fib_set)

{0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [197]:
## Input list 
input_list = [1,2,3,4,5,6,7,8,9,2,3,4,5]

## Unique set from list
uni_set = set(input_list)

## convert set back to list
print(list(uni_set))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 44. Check if two sets have the same elements, regardless of their count.

In [198]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1} 

# Check if the sets have the same elements regardless of their count
if set1 == set2:
    print("The sets have the same elements regardless of their count.")
else:
    print("The sets do not have the same elements regardless of their count.")

The sets have the same elements regardless of their count.

### 45. Create a set of the first `n` powers of 2.

In [199]:
## Assuming n 

n=5

## power set 
power_set = set(2**i for i in range(n))

print(power_set)

{1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [200]:
## Declare the list and the set
my_list = [3,4,6,8,3]
my_set = {1,2,3,4,5,6}

## list to set
my_set2 = set(my_list)

## common list
common = []

## Logic for common elements
for element in my_set:
    if element in my_set2:
        common.append(element)
        
print("Common Elements :",common)

Common Elements : [3, 4, 6]

### 47. Create a set of the first `n` triangular numbers.

In [201]:
## Assuming n 
n=10

#triangular set 
triangular_numbers = set()

sum = 0

for i in range(1, n + 1):
    sum += i
    triangular_numbers.add(sum)

print(triangular_numbers)

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

### 48. Check if a set contains another set as a subset.

In [202]:
## Declare set
set2 = {1,2,3,4,5}
set1 = {3,4}

# check for subset
is_subset = set1.issubset(set2)

if is_subset:
    print("Set is subset.")

else:
    print("Set is not a subset.")

Set is subset.

### 49. Create a set of alternating 1s and 0s of length `n`.

In [203]:
## Declare the set 
alternate_set = set()

## Assuming n 
n=5

for i in range(5):
    if i%2==0:
        alternate_set.add(1)
    else:
        alternate_set.add(0)
        
print(alternate_set)

{0, 1}

### 50. Merge multiple sets into one.

In [204]:
## Declare multiple sets

set1 = {1,2,3,4}
set2 = {3,4,5,6}
set3 = {5,6,7,8,9}

## Merge the set
final = set1.union(set2, set3)

print(final)

{1, 2, 3, 4, 5, 6, 7, 8, 9}